<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <picture>
        <img src="g1004.png" alt="logo" style="width:50px; height:50px;" class="img-fluid">
      </picture>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
    <div class="text-right mt-2 mr-2">
      <form action="/logout?_method=DELETE" method="POST">
        <button class="rounded" type="submit">Logout</button>
      </form>
    </div>
  </nav>
  <p>
  <h3 class="text-center"> The idea of this blog was inspired by the<br>
    complexity of digital technology.<br>
    The articles here will mainly consist<br>
    of information about technology news, old<br>
    articles, researches and much more. For education<br>
    purposes also, the information will be simplified<br>
    and accessible even for younger and older people<br>
    getting into digital technology.</h3>
  </p>
  </p>
</body>

</html>